@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
 --purple0: #AD1FEA;
 --blue0: #4661E6;
 --blue1: #62BCFA;
 --orange0: #F49F85;
 --crimson: #D73737;
 --black0: #373F68;
 --black1: #3A4374;
 --white0: #FFFFFF;
 --grey0: #F2F4FF;
 --grey1: #F7F8FD;
 --grey2: #647296;
}


/* ------------------------------------------ */
/* Typography */

body{
  font-family: 'Jost';
}

h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.25px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.25px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2;
}

.bodyTxt0 {
  font-weight: regular;
  font-size: 16px;
  line-height: 23px;
}

.bodyTxt1 {
  font-weight: regular;
  font-size: 15px;
  line-height: 22px;
}

.bodyTxt2 {
  font-weight: regular;
  font-size: 13px;
  line-height: 19px;
}


/* ------------------------------------------ */
/* Buttons */

button {
  border: none;
  border-radius: 0.5rem;
}

.smallButton {
  width: 10rem;
  height: 2.7rem;
  font-family: 'Jost';
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2;
}

.smallButton:hover {
  opacity: 75%;
}

.button1 {
  color: var(--white0);
  background: var(--purple0);
}

.button2 {
  color: var(--white0);
  background: var(--blue0);
}

.button3 {
  color: var(--white0);
  background: var(--black1);
}

.button4 {
  color: var(--white0);
  background: var(--crimson);
}

.bigButton {
  font-family: 'Jost';
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  width: 10rem;
  height: 3.3rem;

  &:hover span {
    text-decoration: underline;
  }
}

.bigButton span{
  margin-left: 1rem;
}

.bButton1 {
  color: white;
  background: var(--black0);
}

.bButton2 {
  color: var(--black0);
  background: var(--white0);
}


/* ------------------------------------------ */
/* Inputs & Selectors */

input {
  color: var(--black0);
  height: 3rem;
  width: 14rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: var(--grey0);
  border: none;
  border-radius: 0.3rem;
}

select {
  appearance: none;
  color: var(--black0);
  height: 3rem;
  width: 16rem;
  padding-left: 1rem;
  background: var(--grey0) right/4% url('./assets/chevron.svg') no-repeat;
  background-position-x: 90%;
  border: none;
  border-radius: 0.3rem;
}

select:active, select:open {
  border: solid thin var(--blue0);
}

/* Tablet (portrait) */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Phone (Portrait) */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    body {
      margin: 0;
    }

    nav {
      display: Flex;
      background-color: var(--purple0);
    }

    li {
      list-style-type: none;
    }
    
    a {
      color: white;
      text-decoration: none;
    }

    .my-company {
      font-weight: bold;
      font-size: 18px;
      line-height: 29px;
      letter-spacing: -0.25px;
    }

    .feedback{
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.2;
    }

    .home-body {
      background: var(--grey0);
    }

}